# configure user pass for security
sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required \
  username={{kafka_admin_username}} \
  password={{kafka_admin_password}};

# configure sasl mechanism
sasl.mechanism=SCRAM-SHA-256

# configure security protocol
security.protocol=SASL_PLAINTEXT